/*  your css code here. If applicable */
.main{
	width:270px;
	
	padding:35px;
	
	background-color:gainsboro;
	box-shadow:4px 4px 4px 4px gray ;
}
.container>img{
	
	border-radius:20px;
}
.container>h1{
	margin-left:45px;
	font-weight:900;
	
}
.container>p{
	font-size:25px;
	margin-left:45px
}
.container>button{
	height:60px;
	width:150px;
	border-radius:10px;
	margin-left:55px;
	background-color:#ef574c;
	border:none;
	color:white;
	font-size:20px;
	
	
}